.header-content
    button#menu-toggle
        img.ham-icon(src="https://th.bing.com/th/id/OIP.XRSFhUNTIZV2Ndt3hx7BcQHaHa?rs=1&pid=ImgDetMain" alt="menu-icon")
asid#sidebar
    button#close-sidebar
        img.cross-icon(src="https://cdn0.iconfinder.com/data/icons/basic-13/614/23_-_Cross-512.png" alt="cross")
    nav.sidebar-nav 
        ul
            li
                a(href="/") Home 
            li 
                a(href="/users") Users