doctype html
html
head
    title Success
    link(rel="stylesheet" href="/css/successStyles.css")
    link(rel="stylesheet", href="/css/layout.css")
    script(src="/js/layout.js" defer)
body
    include layout.pug
    div.heading
        h1 Successfully submitted
        img(src="https://cdn2.iconfinder.com/data/icons/greenline/512/check-512.png" alt="Tick Logo")